{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
  <h1>Citizenship Help</h1>
  <p>Find an English or Citizenship preparation class nearby:</p>
  <p><a href="https://my.uscis.gov/findaclass">USCIS: Find a Class</a>
    <button type="button" name="button">Save</button>
</p>
  <p><a href="https://www.uscis.gov/sites/default/files/USCIS/files/M-1051.pdf">USCIS: 10 Steps to Naturalization</a>
    <button type="button" name="button">Save</button>
</p>
  <p><a href="https://immigration.findlaw.com/citizenship/u-s-citizenship-naturalization-overview.html">Naturalization Overview</a>
    <button type="button" name="button">Save</button>
</p>
{% endblock %}

<!--https://immigration.findlaw.com/citizenship/u-s-citizenship-naturalization-overview.html
