{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
    <style>
    div {
      background-color: lightgrey;
      width: 980px;
      border: 10px solid black;
      padding: 15px;
      margin: 80px;
      margin-left: 200;
      margin-bottom: 200;
  }
  </style>
  <h1>Citizenship Help</h1>
  <h3>Find an English or Citizenship preparation class nearby:</h3>
  <p><a href="https://my.uscis.gov/findaclass">USCIS - Find a Class</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://my.uscis.gov/findaclass">
      <input type="text" style = "display:none" name="actual_name" value="USCIS - Find a Class"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
<article>
  <p><a href="https://www.uscis.gov/sites/default/files/USCIS/files/M-1051.pdf">USCIS - 10 Steps to Naturalization</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.uscis.gov/sites/default/files/USCIS/files/M-1051.pdf">
      <input type="text" style = "display:none" name="actual_name" value="USCIS - 10 Steps to Naturalization"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://immigration.findlaw.com/citizenship/u-s-citizenship-naturalization-overview.html">FindLaw - Naturalization Overview</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://immigration.findlaw.com/citizenship/u-s-citizenship-naturalization-overview.html">
      <input type="text" style = "display:none" name="actual_name" value="FindLaw - Naturalization Overview"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
<p><a href="https://www.ilrc.org/citizenship-and-naturalization">Immigrant Legal Resource Center - Citizenship and Naturalization</a>
  <!--<button type="button" name="button">Save</button>-->
  <form class="hidden" action="/Home" method="post">
    <input type="text" name="link" style = "display:none" value="https://www.ilrc.org/citizenship-and-naturalization">
    <input type="text" style = "display:none" name="actual_name" value="Immigrant Legal Resource Center - Citizenship and Naturalization"></input>
    <input type="submit" name="button" value="Save"></input>
    </form>
</p>
</article>
{% endblock %}

<!--https://immigration.findlaw.com/citizenship/u-s-citizenship-naturalization-overview.html
