{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
  <h1>College</h1>
  <h2>Online College</h2>
  <p>Many schools offer courses online for students who need to work or take care of a child whilst studying. These courses can help anyone get a degree at a lower cost than attending a course in person, and is much more flexible.</p>
  <p><a href="https://www.accreditedschoolsonline.org/online-colleges/">Accredited Schools Online</a>
    <!-- <button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.accreditedschoolsonline.org/online-colleges/">
      <input type="text" style = "display:none" name="actual_name" value="Accredited Schools Online"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.usnews.com/education/online-education/graduate">USNews-Graduate</a>
    <!-- <button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/education/online-education/graduate">
      <input type="text" style = "display:none" name="actual_name" value="USNews Graduate"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.usnews.com/education/online-education/bachelors/rankings">USNews-Bachelors</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/education/online-education/bachelors/rankings">
      <input type="text" style = "display:none" name="actual_name" value="USNews-Bachelors"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <h2>Colleges and University</h2>
  <p><a href="https://www.usnews.com/best-colleges/rankings/national-universities">National University Rankings</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/best-colleges/rankings/national-universities">
      <input type="text" style = "display:none" name="actual_name" value="National University Rankings"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://www.usnews.com/best-colleges">Best Colleges</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/best-colleges">
      <input type="text" style = "display:none" name="actual_name" value="Best Colleges"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.usnews.com/best-colleges/rankings/national-universities/top-public">Top Public Schools</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/best-colleges/rankings/national-universities/top-public">
      <input type="text" style = "display:none" name="actual_name" value="Public Schools"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.usnews.com/info/blogs/press-room/articles/2018-05-30/us-news-announces-the-top-universities-for-international-students">Top Universities for international students</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/info/blogs/press-room/articles/2018-05-30/us-news-announces-the-top-universities-for-international-students">
      <input type="text" style = "display:none" name="actual_name" value="University for International Students"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <h2>Graduate Programs/Schools</h2>
  <p><a href="https://www.usnews.com/best-graduate-schools">Best Graduate Schools</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/best-graduate-schools">
      <input type="text" style = "display:none" name="actual_name" value="Graduate Schools"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <h2>Scholarships/Financial Aid</h2>
  <p><a href="https://www.niche.com">Niche</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.niche.com">
      <input type="text" style = "display:none" name="actual_name" value="Niche"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://www.fastweb.com">Fastweb</a>

    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.fastweb.com">
      <input type="text" style = "display:none" name="actual_name" value="Fastweb"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.cappex.com">Cappex</a>

    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.cappex.com">
      <input type="text" style = "display:none" name="actual_name" value="Cappex"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://scholarshippoints.com">Scholarship Points</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://scholarshippoints.com">
      <input type="text" style = "display:none" name="actual_name" value="Scholarship Points"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://studentscholarships.org">Student Scolarships</a>

    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://studentscholarships.org">
      <input type="text" style = "display:none" name="actual_name" value="Student Scholarships"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://bigfuture.collegeboard.org/pay-for-college/grants-scholarships">College Board's Scholarship Points</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://bigfuture.collegeboard.org/pay-for-college/grants-scholarships">
      <input type="text" style = "display:none" name="actual_name" value="College Board's Scholarship Points"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="http://www.scholarshipexperts.com/">Scholarship Experts</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.scholarshipexperts.com/">
      <input type="text" style = "display:none" name="actual_name" value="Scholarship Experts"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="http://www.supercollege.com/">Super College</a>
    <!--<button type="button" name="button">Save</button>-->

    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.supercollege.com/">
      <input type="text" style = "display:none" name="actual_name" value="Super College"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <h2>Deals for College Students</h2>
  <p><a href="https://www.bestcollegesonline.com/blog/100-stores-that-give-a-student-discount/">100 Stores that give student discounts</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.bestcollegesonline.com/blog/100-stores-that-give-a-student-discount/">
      <input type="text" style = "display:none" name="actual_name" value="Student Discounts"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://www.thesimpledollar.com/60-awesome-student-discounts-on-clothes-tech-travel-and-more/">Awesome Student Discounts on Clothes, Tech, Travel, and More!</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.thesimpledollar.com/60-awesome-student-discounts-on-clothes-tech-travel-and-more/">
      <input type="text" style = "display:none" name="actual_name" value="Apparel Student Discount"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://www.myunidays.com/US/en-US/content/about">MyUniDays</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.myunidays.com/US/en-US/content/about">
      <input type="text" style = "display:none" name="actual_name" value="MyUniDays"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href = "https://www.spotify.com/us/student/?utm_source=us-en_brand_contextual_text&utm_medium=paidsearch&utm_campaign=alwayson_ucanz_us_performancemarketing_student_brand+contextual+text+bmm+us-en+google&gclid=Cj0KCQjwv-DaBRCcARIsAI9sba9eLcQMP8NVW3NdVwt74NlK3NsfMqoajAfIrAJ9r1qsZxMHWBAm10gaAqrFEALw_wcB&gclsrc=aw.ds&dclid=CNPkyLmdu9wCFZOsyAod4m8A0A">
    Spotify: Offers $4.99/month for both Spotify Premium and Hulu together!</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.spotify.com/us/student/?utm_source=us-en_brand_contextual_text&utm_medium=paidsearch&utm_campaign=alwayson_ucanz_us_performancemarketing_student_brand+contextual+text+bmm+us-en+google&gclid=Cj0KCQjwv-DaBRCcARIsAI9sba9eLcQMP8NVW3NdVwt74NlK3NsfMqoajAfIrAJ9r1qsZxMHWBAm10gaAqrFEALw_wcB&gclsrc=aw.ds&dclid=CNPkyLmdu9wCFZOsyAod4m8A0A">
      <input type="text" style = "display:none" name="actual_name" value="Spotify and Hulu Student Deal"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <h2>Internships</h2>
  <p><a href="https://www.fastweb.com//career-planning/internships">Fastweb's Career Planning</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.fastweb.com//career-planning/internships">
      <input type="text" style = "display:none" name="actual_name" value="FastWeb's Career Planning"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="http://www.internships.com/">Internships</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.internships.com/">
      <input type="text" style = "display:none" name="actual_name" value="Internships"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://www.thesca.org/serve/positions">Thesca</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.thesca.org/serve/positions">
      <input type="text" style = "display:none" name="actual_name" value="Thesca"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.spitball.co/job?q=&promo&gclid=CjwKCAjw-dXaBRAEEiwAbwCi5mgNn4SAO4xG2G-DjzUTv4g7sfu1X6me9wxlbDB6dw60RAoFePq9khoCmMsQAvD_BwE">Spitball</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.spitball.co/job?q=&promo&gclid=CjwKCAjw-dXaBRAEEiwAbwCi5mgNn4SAO4xG2G-DjzUTv4g7sfu1X6me9wxlbDB6dw60RAoFePq9khoCmMsQAvD_BwE">
      <input type="text" style = "display:none" name="actual_name" value="Spitball"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.glassdoor.com/Job">Glassdoor</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.glassdoor.com/Job">
      <input type="text" style = "display:none" name="actual_name" value="Glassdoor"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

</p>
  <p><a href="https://www.linkedin.com/jobs/">LinkedIn</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.linkedin.com/jobs/">
      <input type="text" style = "display:none" name="actual_name" value="LinkedIn"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <h2>College Mentors and Advice for Students</h2>
  <p><a href="https://www.builtbygirls.com/wave/signup">#BUILTBYGIRLS' Wave Platform</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.builtbygirls.com/wave/signup">
      <input type="text" style = "display:none" name="actual_name" value="USA"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>

{% endblock %}
