{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
  <h1>College</h1>
  <h2>Online College</h2>
  <p>Many schools offer courses online for students who need to work or take care of a child whilst studying. These courses can help anyone get a degree at a lower cost than attending a course in person, and is much more flexible.</p>
  <p><a href="https://www.accreditedschoolsonline.org/online-colleges/">accreditedschoolsonline</a>
    <button type="button" name="button">Save</button>
  </p>
  <p><a href="https://www.usnews.com/education/online-education/graduate">usnews-Graduate</a>
    <button type="button" name="button">Save</button>
  </p>
  <p><a href="https://www.usnews.com/education/online-education/bachelors/rankings">Usnews-bachelors</a>
    <button type="button" name="button">Save</button>
  </p>
  <h2>Colleges and University</h2>
  <p><a href="https://www.usnews.com/best-colleges/rankings/national-universities">National University Rankings</a>
    <button type="button" name="button">Save</button>


  </p>
  <p><a href="https://www.usnews.com/best-colleges">Best Colleges</a>
    <button type="button" name="button">Save</button>

  </p>
  <p><a href="https://www.usnews.com/best-colleges/rankings/national-universities/top-public">Top Public Schools</a>
    <button type="button" name="button">Save</button>

  </p>
  <p><a href="https://www.usnews.com/info/blogs/press-room/articles/2018-05-30/us-news-announces-the-top-universities-for-international-students">Top Universities for international students</a>
    <button type="button" name="button">Save</button>

  </p>
  <h2>Graduate Programs/Schools</h2>
  <p><a href="https://www.usnews.com/best-graduate-schools">Best Graduate Schools</a>
    <button type="button" name="button">Save</button>

  </p>
  <h2>Scholarships/Financial Aid</h2>
  <p><a href="https://www.niche.com">Niche</a>
    <button type="button" name="button">Save</button>


  </p>
  <p><a href="https://www.fastweb.com">Fastweb</a>

    <button type="button" name="button">Save</button>

  </p>
  <p><a href="https://www.cappex.com">Cappex</a>

    <button type="button" name="button">Save</button>

  </p>
  <p><a href="https://scholarshippoints.com">Scholarship Points</a>
    <button type="button" name="button">Save</button>

  </p>
  <p><a href="https://studentscholarships.org">Student Scolarships</a>

    <button type="button" name="button">Save</button>

  </p>
  <p><a href="https://bigfuture.collegeboard.org/pay-for-college/grants-scholarships">College Board's Scholarship Points</a>
    <button type="button" name="button">Save</button>

  </p>
  <p><a href="http://www.scholarshipexperts.com/">Scholarship Experts</a>
    <button type="button" name="button">Save</button>
  </p>
  <p><a href="http://www.supercollege.com/">Super College</a>
    <button type="button" name="button">Save</button>
  </p>
  <h2>Deals for College Students</h2>
  <p><a href="https://www.bestcollegesonline.com/blog/100-stores-that-give-a-student-discount/">100 Stores that give student discounts</a>
    <button type="button" name="button">Save</button>
  </p>
  <p><a href="https://www.thesimpledollar.com/60-awesome-student-discounts-on-clothes-tech-travel-and-more/">Awesome Student Discounts on Clothes, Tech, Travel, and More!</a>
    <button type="button" name="button">Save</button>
  </p>
  <p><a href="https://www.myunidays.com/US/en-US/content/about">MyUniDays</a>
    <button type="button" name="button">Save</button>
  </p>
  <p><a href = "https://www.spotify.com/us/student/?utm_source=us-en_brand_contextual_text&utm_medium=paidsearch&utm_campaign=alwayson_ucanz_us_performancemarketing_student_brand+contextual+text+bmm+us-en+google&gclid=Cj0KCQjwv-DaBRCcARIsAI9sba9eLcQMP8NVW3NdVwt74NlK3NsfMqoajAfIrAJ9r1qsZxMHWBAm10gaAqrFEALw_wcB&gclsrc=aw.ds&dclid=CNPkyLmdu9wCFZOsyAod4m8A0A">
    Spotify: Offers $4.99/month for both Spotify Premium and Hulu together!</a>
    <button type="button" name="button">Save</button>
  </p>
  <h2>Internships</h2>
  <p><a href="https://www.fastweb.com//career-planning/internships">Fastweb's Career Planning</a>
    <button type="button" name="button">Save</button>
  </p>
  <p><a href="http://www.internships.com/">Internships</a>
    <button type="button" name="button">Save</button>

  </p>
  <p><a href="https://www.thesca.org/serve/positions">Thesca</a>
    <button type="button" name="button">Save</button>

  </p>
  <p><a href="https://www.spitball.co/job?q=&promo&gclid=CjwKCAjw-dXaBRAEEiwAbwCi5mgNn4SAO4xG2G-DjzUTv4g7sfu1X6me9wxlbDB6dw60RAoFePq9khoCmMsQAvD_BwE">Spitball</a>
    <button type="button" name="button">Save</button>

  </p>
  <p><a href="https://www.glassdoor.com/Job">Glassdoor</a>
    <button type="button" name="button">Save</button>
</p>
  <p><a href="https://www.linkedin.com/jobs/">Linkedin</a>
    <button type="button" name="button">Save</button>
</p>
  <h2>College Mentors and Advice for Students</h2>
  <p><a href="https://www.builtbygirls.com/wave/signup">#BUILTBYGIRLS' Wave Platform</a>
    <button type="button" name="button">Save</button>
</p>

{% endblock %}
