{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
  <h1>College</h1>
  <h2>Online College</h2>
  <p>Many schools offer courses online for students who need to work or take care of a child whilst studying. These courses can help anyone get a degree at a lower cost than attending a course in person, and is much more flexible.</p>
  <p><a href="https://www.accreditedschoolsonline.org/online-colleges/">Accredited Schools Online - Browse a list of fully accredited, U.S.-based colleges offering quality education in a broad variety of subject areas that can lead to a rewarding career.</a>
    <!-- <button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.accreditedschoolsonline.org/online-colleges/">
      <input type="text" style = "display:none" name="actual_name" value="Accredited Schools Online - Browse a list of fully accredited, U.S.-based colleges offering quality education in a broad variety of subject areas that can lead to a rewarding career."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.usnews.com/education/online-education/graduate">USNews - Graduate Program Rankings</a>
    <!-- <button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/education/online-education/graduate">
      <input type="text" style = "display:none" name="actual_name" value="USNews - Graduate Program Rankings"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.usnews.com/education/online-education/bachelors/rankings">USNews - Online Bachelors Program Rankings</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/education/online-education/bachelors/rankings">
      <input type="text" style = "display:none" name="actual_name" value="USNews - Online Bachelors Program Rankings"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <h2>Colleges and University</h2>
  <p><a href="https://www.usnews.com/best-colleges/rankings/national-universities">USNews - National University Rankings</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/best-colleges/rankings/national-universities">
      <input type="text" style = "display:none" name="actual_name" value="USNews - National University Rankings"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://www.usnews.com/best-colleges">USNews - National College Rankings</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/best-colleges">
      <input type="text" style = "display:none" name="actual_name" value="USNews - National College Rankings"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.usnews.com/best-colleges/rankings/national-universities/top-public">USNews - Top Public Schools</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/best-colleges/rankings/national-universities/top-public">
      <input type="text" style = "display:none" name="actual_name" value="USNews - Public Schools"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.usnews.com/info/blogs/press-room/articles/2018-05-30/us-news-announces-the-top-universities-for-international-students">USNews - Universities for International Students Rankings</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/info/blogs/press-room/articles/2018-05-30/us-news-announces-the-top-universities-for-international-students">
      <input type="text" style = "display:none" name="actual_name" value="USNews - Universities for International Students Rankings"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <h2>Graduate Programs/Schools</h2>
  <p><a href="https://www.usnews.com/best-graduate-schools">USNews  - Graduate Schools Rankings</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/best-graduate-schools">
      <input type="text" style = "display:none" name="actual_name" value="USNews  - Graduate Schools Rankings"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <h2>Scholarships/Financial Aid</h2>
  <p><a href="https://www.niche.com">Niche - Explore rankings, reviews, and statistics on 250000 U.S. colleges, K-12 schools, companies, and places to live.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.niche.com">
      <input type="text" style = "display:none" name="actual_name" value="Niche - Explore rankings, reviews, and statistics on 250000 U.S. colleges, K-12 schools, companies, and places to live."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://www.fastweb.com">Fastweb - Search for scholarships for college students with our free matching service for scholarships. Also learn about financial aid and student loan options.</a>

    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.fastweb.com">
      <input type="text" style = "display:none" name="actual_name" value="Fastweb - Search for scholarships for college students with our free matching service for scholarships. Also learn about financial aid and student loan options."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.cappex.com">Cappex - Search and compare colleges, get admission information and apply for scholarships at Cappex to ease the process of making the right college decision.</a>

    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.cappex.com">
      <input type="text" style = "display:none" name="actual_name" value="Cappex - Search and compare colleges, get admission information and apply for scholarships at Cappex to ease the process of making the right college decision."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://scholarshippoints.com">Scholarship Points - The ScholarshipPoints membership program has awarded hundreds of high school and college students over $1,000,000 in free college scholarships.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://scholarshippoints.com">
      <input type="text" style = "display:none" name="actual_name" value="Scholarship Points - The ScholarshipPoints membership program has awarded hundreds of high school and college students over $1,000,000 in free college scholarships."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://studentscholarships.org">Student Scolarships - providing scholarship information to students and scholarship management services to companies since 2003.</a>

    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://studentscholarships.org">
      <input type="text" style = "display:none" name="actual_name" value="Student Scolarships - providing scholarship information to students and scholarship management services to companies since 2003."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://bigfuture.collegeboard.org/pay-for-college/grants-scholarships">College Board's Scholarship Points - Each year, the College Board helps more than seven million students prepare for a successful transition to college through programs and services in college readiness and college success — including the SAT and the Advanced Placement Program.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://bigfuture.collegeboard.org/pay-for-college/grants-scholarships">
      <input type="text" style = "display:none" name="actual_name" value="College Board's Scholarship Points - Each year, the College Board helps more than seven million students prepare for a successful transition to college through programs and services in college readiness and college success — including the SAT and the Advanced Placement Program."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="http://www.scholarshipexperts.com/">Unigo - Scholarship Experts provides cutting-edge tools, compelling content, and essential information, empowering students to make the best decisions about their college experience.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.scholarshipexperts.com/">
      <input type="text" style = "display:none" name="actual_name" value="Unigo - Scholarship Experts provides cutting-edge tools, compelling content, and essential information, empowering students to make the best decisions about their college experience."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="http://www.supercollege.com/">Super College -  Free database of college scholarships, college and university search, admissions and financial aid secrets for essays, applications, and interviews.</a>
    <!--<button type="button" name="button">Save</button>-->

    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.supercollege.com/">
      <input type="text" style = "display:none" name="actual_name" value="Super College -  Free database of college scholarships, college and university search, admissions and financial aid secrets for essays, applications, and interviews."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <h2>Deals for College Students</h2>
  <p><a href="https://www.bestcollegesonline.com/blog/100-stores-that-give-a-student-discount/">Best Colleges Online: 100 Stores that give student discounts</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.bestcollegesonline.com/blog/100-stores-that-give-a-student-discount/">
      <input type="text" style = "display:none" name="actual_name" value="Best Colleges Online: 100 Stores that give student discounts"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://www.thesimpledollar.com/60-awesome-student-discounts-on-clothes-tech-travel-and-more/">The Simple Dollar: Awesome Student Discounts on Clothes, Tech, Travel, and More!</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.thesimpledollar.com/60-awesome-student-discounts-on-clothes-tech-travel-and-more/">
      <input type="text" style = "display:none" name="actual_name" value="The Simple Dollar: Awesome Student Discounts on Clothes, Tech, Travel, and More!"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://www.myunidays.com/US/en-US/content/about">MyUniDays: Students save on UniDays, get exclusive offers from your favorite brands. All day, every day.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.myunidays.com/US/en-US/content/about">
      <input type="text" style = "display:none" name="actual_name" value="MyUniDays: Students save on UniDays, get exclusive offers from your favorite brands. All day, every day."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href = "https://www.spotify.com/us/student/?utm_source=us-en_brand_contextual_text&utm_medium=paidsearch&utm_campaign=alwayson_ucanz_us_performancemarketing_student_brand+contextual+text+bmm+us-en+google&gclid=Cj0KCQjwv-DaBRCcARIsAI9sba9eLcQMP8NVW3NdVwt74NlK3NsfMqoajAfIrAJ9r1qsZxMHWBAm10gaAqrFEALw_wcB&gclsrc=aw.ds&dclid=CNPkyLmdu9wCFZOsyAod4m8A0A">
    Spotify: Offers $4.99/month for both Spotify Premium and Hulu together!</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.spotify.com/us/student/?utm_source=us-en_brand_contextual_text&utm_medium=paidsearch&utm_campaign=alwayson_ucanz_us_performancemarketing_student_brand+contextual+text+bmm+us-en+google&gclid=Cj0KCQjwv-DaBRCcARIsAI9sba9eLcQMP8NVW3NdVwt74NlK3NsfMqoajAfIrAJ9r1qsZxMHWBAm10gaAqrFEALw_wcB&gclsrc=aw.ds&dclid=CNPkyLmdu9wCFZOsyAod4m8A0A">
      <input type="text" style = "display:none" name="actual_name" value="Spotify: Offers $4.99/month for both Spotify Premium and Hulu together!"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <h2>Internships</h2>
  <p><a href="https://www.fastweb.com//career-planning/internships">Fastweb's Career Planning: Fastweb members are matched to relevant scholarship opportunities completely free of charge. With roughly 1.5 million scholarships worth more than $3.4 billion, there are scholarships for every student’s educational goals, activities and interests.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.fastweb.com//career-planning/internships">
      <input type="text" style = "display:none" name="actual_name" value="Fastweb's Career Planning: Fastweb members are matched to relevant scholarship opportunities completely free of charge. With roughly 1.5 million scholarships worth more than $3.4 billion, there are scholarships for every student’s educational goals, activities and interests."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="http://www.internships.com/">Internships: Internships.com, a Chegg service, is the world’s largest student-focused internship marketplace, bringing students, employers and higher education institutions together in one centralized location.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.internships.com/">
      <input type="text" style = "display:none" name="actual_name" value="Internships: Internships.com, a Chegg service, is the world’s largest student-focused internship marketplace, bringing students, employers and higher education institutions together in one centralized location."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://www.thesca.org/serve/positions">Thesca: SCA internships are posted as they become available, so keep checking back to find the SCA position that is the best fit for you.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.thesca.org/serve/positions">
      <input type="text" style = "display:none" name="actual_name" value="Thesca: SCA internships are posted as they become available, so keep checking back to find the SCA position that is the best fit for you."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.spitball.co/job?q=&promo&gclid=CjwKCAjw-dXaBRAEEiwAbwCi5mgNn4SAO4xG2G-DjzUTv4g7sfu1X6me9wxlbDB6dw60RAoFePq9khoCmMsQAvD_BwE">Spitball: The one-stop-shop for all your school needs. From class notes to tutors, textbooks and more, we bring the best that the internet has to offer students, all together in one place.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.spitball.co/job?q=&promo&gclid=CjwKCAjw-dXaBRAEEiwAbwCi5mgNn4SAO4xG2G-DjzUTv4g7sfu1X6me9wxlbDB6dw60RAoFePq9khoCmMsQAvD_BwE">
      <input type="text" style = "display:none" name="actual_name" value="Spitball: The one-stop-shop for all your school needs. From class notes to tutors, textbooks and more, we bring the best that the internet has to offer students, all together in one place."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.glassdoor.com/Job">Glassdoor: Find the Job That Fits Your Life</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.glassdoor.com/Job">
      <input type="text" style = "display:none" name="actual_name" value="Glassdoor: Find the Job That Fits Your Life"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

</p>
  <p><a href="https://www.linkedin.com/jobs/">LinkedIn - Manage your professional identity. Build and engage with your professional network. Access knowledge, insights and opportunities.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.linkedin.com/jobs/">
      <input type="text" style = "display:none" name="actual_name" value="LinkedIn - Manage your professional identity. Build and engage with your professional network. Access knowledge, insights and opportunities."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <h2>College Mentors and Advice for Students</h2>
  <p><a href="https://www.builtbygirls.com/wave/signup">#BUILTBYGIRLS' Wave Platform - matches young women interested in learning about tech careers with professionals who are killing it in a range of industries from music to machine learning.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.builtbygirls.com/wave/signup">
      <input type="text" style = "display:none" name="actual_name" value="#BUILTBYGIRLS' Wave Platform - matches young women interested in learning about tech careers with professionals who are killing it in a range of industries from music to machine learning."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>

{% endblock %}
