{% extends "Templates/template.html" %}
{% block title %}US Culture{% endblock %}
<!-- {% block navbar %} -->
  <!-- <button type="button">Slang</button>
  <button type="button">Etiquette</button>
  <button type="button">Political Climate</button>
  <button type="button">Sports</button>
  <button type="button">Holidays and Historically Important Figures</button>
  <button type="button">State Attractions and Information</button>
  <button type="button">General Tips</button> -->
<!-- {% endblock %} -->
  {% block content %}
    <h1 align = "center">Culture</h1>
    <p> In the US, the culture is as diverse and rich as the land. In this section, you will find information about the different <br>
        slang, states, holidays, and political practices and parties that are present. This will hopefully help you adjust and feel <br>
        more "street smart" about the culture in the US.</p>

  {% endblock %}
