<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Employment Information</title>
  </head>
  <body>
    <h1>Employment Information</h1>
    <p> In the United States, there are many ways to find jobs. Below is a list of sources that can be helpful in finding a
        job in the US, as well as give you information about the job from people who work there.</p><br>
    <h2>Employment Resources</h2>
    <h3>Job Portals</h3>
    <ul>
      <li><a href="https://www.monster.com/">Monster</a></li>
      <li><a href="https://www.glassdoor.com/index.htm">Glassdoor</a></li>
      <li><a href="https://www.indeed.com/">Indeed</a> - Job search website by location that allows keywords such as “Foreign Worker”</li>
      <li><a href="https://www.optnation.com/">Optnation</a> - For international students</li>
      <li><a href="http://www.immigrantwelcomecenter.org/jobs2/">Immigrant Welcome Center</a></li>
    </ul>
    <p> For job advice, <a href="https://www.careerbuilder.com/advice/how-to-find-a-job-in-the-us-as-an-immigrant">CareerBuilder</a> and <a href="https://www.linkedin.com">LinkedIn</a> are great sources.</p>
  </body>
</html>
