{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
<center>
    <h1>Financial Information</h1>
    <p> In the United States, financial planning and financial knowledge are very important. Here are some resources to help you with
        your finances, and help you gain financial stability in the US.</p><br>
    <h2>Financial Resources</h2>
      <p><a href="https://www.wealthfront.com/">Wealthfront</a>
        <form class="hidden" action="/Home" method="post">
          <input type="text" name="link" style = "display:none" value="https://www.wealthfront.com/">
          <input type="text" style = "display:none" name="actual_name" value="Wealthfront"></input>
          <input type="submit" name="button" value="Save"></input>
          </form></p>
      <p><a href="https://www2.simplee.com/company/about-simplee/">Simplee</a>
        <form class="hidden" action="/Home" method="post">
          <input type="text" name="link" style = "display:none" value="https://www2.simplee.com/company/about-simplee/">
          <input type="text" style = "display:none" name="actual_name" value="Simplee"></input>
          <input type="submit" name="button" value="Save"></input>
          </form></p>
      <p><a href="https://levelmoney.com/">Level</a>
        <form class="hidden" action="/Home" method="post">
          <input type="text" name="link" style = "display:none" value="https://levelmoney.com/">
          <input type="text" style = "display:none" name="actual_name" value="LevelMoney"></input>
          <input type="submit" name="button" value="Save"></input>
          </form></p>
      <p><a href="https://www.thebalance.com/financial-planning-basics-personal-finance-101-1289798">The Balance</a> - Provides financial news and advice
        <form class="hidden" action="/Home" method="post">
          <input type="text" name="link" style = "display:none" value="https://www.thebalance.com/financial-planning-basics-personal-finance-101-1289798">
          <input type="text" style = "display:none" name="actual_name" value="The Balance"></input>
          <input type="submit" name="button" value="Save"></input>
          </form></p>
      <p><a href="https://www.savingforcollege.com/calculators/college-savings-calculator">Saving For College</a> - College Saving Advice for students
        <form class="hidden" action="/Home" method="post">
          <input type="text" name="link" style = "display:none" value="https://www.savingforcollege.com/calculators/college-savings-calculator">
          <input type="text" style = "display:none" name="actual_name" value="Saving For College"></input>
          <input type="submit" name="button" value="Save"></input>
          </form></p>
      <p><a href="http://www.free-financial-advice.net/">Free Financial Advice</a>
        <form class="hidden" action="/Home" method="post">
          <input type="text" name="link" style = "display:none" value="http://www.free-financial-advice.net/">
          <input type="text" style = "display:none" name="actual_name" value="Free Financial Advice"></input>
          <input type="submit" name="button" value="Save"></input>
          </form></p>
    <h3>How to Choose a Bank</h3>
      <p><a href="https://www.forbes.com/sites/laurashin/2014/06/30/how-to-choose-a-bank-account-10-things-to-look-for/">Forbes</a>
        <form class="hidden" action="/Home" method="post">
          <input type="text" name="link" style = "display:none" value="https://www.forbes.com/sites/laurashin/2014/06/30/how-to-choose-a-bank-account-10-things-to-look-for/">
          <input type="text" style = "display:none" name="actual_name" value="Forbes"></input>
          <input type="submit" name="button" value="Save"></input>
          </form></p>
      <p><a href="http://guides.wsj.com/personal-finance/banking/how-to-select-a-checking-account/">Wall Street Journal</a>
        <form class="hidden" action="/Home" method="post">
          <input type="text" name="link" style = "display:none" value="http://guides.wsj.com/personal-finance/banking/how-to-select-a-checking-account/">
          <input type="text" style = "display:none" name="actual_name" value="Wall Street Journal"></input>
          <input type="submit" name="button" value="Save"></input>
          </form></p>
      <p><a href="https://www.fdic.gov/about/learn/learning/banks.html">FDIC</a>
        <form class="hidden" action="/Home" method="post">
          <input type="text" name="link" style = "display:none" value="https://www.fdic.gov/about/learn/learning/banks.html">
          <input type="text" style = "display:none" name="actual_name" value="FDIC"></input>
          <input type="submit" name="button" value="Save"></input>
          </form></p>
{% endblock %}
