<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Financial Information</title>
  </head>
  <body>
    <h1>Financial Information</h1>
    <p> In the United States, financial planning and financial knowledge are very important. Here are some resources to help you with
        your finances, and help you gain financial stability in the US.</p><br>
    <h2>Financial Resources</h2>
    <ul>
      <li><a href="https://www.wealthfront.com/">Wealthfront</a></li>
      <li><a href="https://www2.simplee.com/company/about-simplee/">Simplee</a></li>
      <li><a href="https://levelmoney.com/">Level</a></li>
      <li><a href="https://www.thebalance.com/financial-planning-basics-personal-finance-101-1289798">The Balance</a> - Provides financial news and advice</li>
      <li><a href="https://www.savingforcollege.com/calculators/college-savings-calculator">Saving For College</a> - College Saving Advice for students</li>
      <li><a href="http://www.free-financial-advice.net/">Free Financial Advice</a></li>
    </ul>
    <h3>How to Choose a Bank</h3>
    <ul>
      <li><a href="https://www.forbes.com/sites/laurashin/2014/06/30/how-to-choose-a-bank-account-10-things-to-look-for/">Forbes</a></li>
      <li><a href="http://guides.wsj.com/personal-finance/banking/how-to-select-a-checking-account/">Wall Street Journal</a></li>
      <li><a href="https://www.fdic.gov/about/learn/learning/banks.html">FDIC</a></li>
    </ul>
  </body>
</html>
