{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
<center>
    <h1>Financial Information</h1>
    <p> In the United States, financial planning and financial knowledge are very important. Here are some resources to help you with
        your finances, and help you gain financial stability in the US.</p><br>
    <h2>Financial Resources</h2>
      <p><a href="https://www.wealthfront.com/">Wealthfront</a> - Financial Planning and Investing that reduces risk, taxes, and fees</p>
      <p><a href="https://www2.simplee.com/company/about-simplee/">Simplee</a> - A modern billing and payment experience that engages patients in a highly personalized way.</p>
      <p><a href="https://www.thebalance.com/financial-planning-basics-personal-finance-101-1289798">The Balance</a> - Provides financial news and advice</p>
      <p><a href="https://www.savingforcollege.com/calculators/college-savings-calculator">Saving For College</a> - College Saving Advice for students</p>
      <p><a href="http://www.free-financial-advice.net/">Free Financial Advice</a> - Teaches you how to create a budget, plan For retirement and learn the rules of finance</p>
    <h3>How to Choose a Bank</h3>
      <p><a href="https://www.forbes.com/sites/laurashin/2014/06/30/how-to-choose-a-bank-account-10-things-to-look-for/">Forbes</a> - 10 Things to Look For When Choosing a Bank</p>
      <p><a href="http://guides.wsj.com/personal-finance/banking/how-to-select-a-checking-account/">Wall Street Journal</a> - How to Select a Checking Account</p>
      <p><a href="https://www.fdic.gov/about/learn/learning/banks.html">FDIC</a> - Learning How the Bank Works</p>
{% endblock %}
