<!DOCTYPE html>
<html>
	<head>
		<title>Question Saved!</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<style>
		body,h1 {font-family: "Raleway", sans-serif}
		body,h1 {color: #080708}
		body,p {color: #080708}
		body, html {height: 100%}
		.bgimg {
		    background-color: #243010
		}
		</style>
	</head>
	<body>
			<button class="w3-button w3-black" id="Work" type="button">Go To Dashboard</button>

		<div class="bgimg w3-display-container w3-animate-opacity">
		<div class="w3-display-topleft w3-padding-large w3-xlarge"></div>
		<div class="w3-display-top">
		<h1 class="w3-jumbo w3-animate-top w3-center">Your Question Was Saved</h1>
		  <hr class="w3-border-grey" style="margin:auto;width:40%">
		</div>
		<div class="w3-display-bottomleft w3-padding-large"></div>
		</div>
	</body>
	<footer>
		<script type="text/javascript">
			document.getElementById("Work").onclick = function(){
				location.href = "/Home"
			}
		</script>
	</footer>
</html>
