<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Surprise</title>
  </head>
  <body>
    <h1 align = "center" color ="red" style="color:red; font-size: 50px " style = "padding-top: 30px">ANSWER TO LIFE AND THE UNIVERSE AS A WHOLE BELONGS HERE...</h1>
    <form action="/formsubmit">

  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname">
  <input type="submit" value="Submit">
</form>
  </body>
</html>
