<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Surprise</title>
    <style>

    body {
    background-image: url("GEO-Images/img5.jpg");
    background-color: #cccccc;
    }

    </style>
  </head>
  <body>

    <h1 align = "center" color ="Black" style="color:Black; font-size: 30px " style = "padding-top: 30px">ASK A QUESTION</h1>
    <form action="/formsubmit">
      <input type="hidden" name="user_name" value="{{user_name}}"><br>
      Question Title:<br>
      <input type="text" name="title"><br>
      Question:<br>
      <input type="text" name="question"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
