{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
    <center>
    <h1>Healthcare Information</h1>
    <p> In the United States, healthcare is something that can be rather complex to understand, but that is importnat to have.
        This list of resources will help you understand healthcare in the US, and find healthcare resources for yourself.</p><br>
    <h2>Healthcare Basics</h2>
    <p><a href="http://themedicalschooldirectory.com/index.php/2017/09/29/abcs-of-healthcare-policy-everything-you-need-to-know/">ABCs of Healthcare Policy: Everything You Need to Know</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="http://themedicalschooldirectory.com/index.php/2017/09/29/abcs-of-healthcare-policy-everything-you-need-to-know/">
        <input type="text" style = "display:none" name="actual_name" value="Health Policy"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.uhone.com/learn/insurance-basics">United Healthcare: Health Insurance Basics</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.uhone.com/learn/insurance-basics">
        <input type="text" style = "display:none" name="actual_name" value="Health Insurance Basics"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="http://dpeaflcio.org/programs-publications/issue-fact-sheets/the-u-s-health-care-system-an-international-perspective/">The US Healthcare System: An International Perspective</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="http://dpeaflcio.org/programs-publications/issue-fact-sheets/the-u-s-health-care-system-an-international-perspective/">
        <input type="text" style = "display:none" name="actual_name" value="US HealthCare System Information"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://international.commonwealthfund.org/countries/united_states/">The Commonwealth Fund:The US Healthcare System</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://international.commonwealthfund.org/countries/united_states/">
        <input type="text" style = "display:none" name="actual_name" value="USA"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.policygenius.com/health-insurance/learn/health-insurance-basics-and-guide/">Policy Genius: Health insurance Basics and Guide</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.policygenius.com/health-insurance/learn/health-insurance-basics-and-guide/">
        <input type="text" style = "display:none" name="actual_name" value="Policy Genius - Health Insurance Basics and Guide"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.commonwealthfund.org/publications/newsletter/focus-learning-health-care-systems">Commonwealthfund: Learning Health Care Systems</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.commonwealthfund.org/publications/newsletter/focus-learning-health-care-systems">
        <input type="text" style = "display:none" name="actual_name" value="Commonwealthfund - Learning Health Care Systems"></input>
        <input type="submit" name="button" value="Save"></input>
        </form>
      </p>
    <h2>Picking your Healthcare</h2>
    <p><a href="https://www.healthcare.gov/choose-a-plan/comparing-plans/">3 Things to Know Before you Pick a Health Insurance Plan</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.healthcare.gov/choose-a-plan/comparing-plans/">
        <input type="text" style = "display:none" name="actual_name" value="Things To Know Before Choosing Health Insurance Plan"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.medicareadvantage.com/latino-health-resource-guide">Medicare Advantage: Latino Healthcare Resource Guide</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.medicareadvantage.com/latino-health-resource-guide">
        <input type="text" style = "display:none" name="actual_name" value="Medicare Advantage - Latino Healthcare Resource Guide"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://outreach-partners.org/wp-content/uploads/2017/04/CPCA-Immigrant-Patient-FAQs-May-9-2017-Advocates-Banner.pdf">FAQ:Services for Immigrant Patients</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://outreach-partners.org/wp-content/uploads/2017/04/CPCA-Immigrant-Patient-FAQs-May-9-2017-Advocates-Banner.pdf">
        <input type="text" style = "display:none" name="actual_name" value="FAQ - Services for Immigrants Patients"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.healthcare.gov/find-provider-information/">Find Healthcare Provider Information</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.healthcare.gov/find-provider-information/">
        <input type="text" style = "display:none" name="actual_name" value="HealthCare Provider Information"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
{% endblock %}
