{% extends "Templates/template.html" %}
{% block title%} Holidays {% endblock %}


    {% block content%}
    <h1>Merry Christmaas</h1>
    <p><a href="https://www.infoplease.com/holidays-america">Infoplease: Holidays of America</a></p>
    <p><a href="https://americanenglish.state.gov/resources/celebrate-holidays-usa">Celebrate US Holidays</a></p>
    <p><a href="https://www.immihelp.com/newcomer/major-holidays-festivals-america.html">Major Holidays and Festivals</a></p>

{% endblock %}

<!--https://americanenglish.state.gov/resources/celebrate-holidays-usa
https://www.immihelp.com/newcomer/major-holidays-festivals-america.html
