{% extends "Templates/template.html" %}
{% block title%} Holidays {% endblock %}


    {% block content%}
    <h1>United States Holidays</h1>
    <p><a href="https://www.infoplease.com/holidays-america">Infoplease: Holidays of America</a></p>
    <p><a href="https://americanenglish.state.gov/resources/celebrate-holidays-usa">AmericanEnglish: Celebrate US Holidays</a></p>
    <p><a href="https://www.immihelp.com/newcomer/major-holidays-festivals-america.html">Immihelp: Major Holidays and Festivals</a></p>
    <h1>United States Historical Figures</h1>
    <p><a href="https://www.ranker.com/list/most-important-leaders-in-us-history/mel-judson">Ranker: Important Leaders in US History</a></p>
    <p><a href="https://www.biographyonline.net/people/america/changed-us.html">Biography Online: People who Changed the United States</a></p>
    <p><a href="http://time.com/4551817/50-women-political-history/">Time: 50 Women who Made American Political History</a></p>
    <p><a href="https://www.msn.com/en-us/lifestyle/smart-living/20-important-leaders-to-know-for-black-history-month/ss-BBIzYY3#image=8">MSN: Important Black Leaders in US History</a></p>
    <p><a href="https://www.imdb.com/list/ls062511576/">Pop Culture Icons of the 20th Century</a></p>
{% endblock %}
