{% extends "Templates/template.html" %}
{% block title%} Holidays {% endblock %}


    {% block content%}
    <center>
      <style>
      div {
        background-color: lightgrey;
        width: 980px;
        border: 10px solid black;
        padding: 15px;
        margin: 80px;
        margin-left: 200;
        margin-bottom: 200;
    }
    </style>
    <h1>US Holidays and Historical Figures</h1>
    <article>
    <p><a href="https://www.infoplease.com/holidays-america">Infoplease - Holidays of America</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.infoplease.com/holidays-america">
        <input type="text" style = "display:none" name="actual_name" value="Infoplease - Holidays of America"></input>
        <input type="submit" name="button" value="Save"></input>
        </form>    </p>
    <p><a href="https://www.immihelp.com/newcomer/major-holidays-festivals-america.html">Immihelp - Major Holidays and Festivals</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.immihelp.com/newcomer/major-holidays-festivals-america.html">
        <input type="text" style = "display:none" name="actual_name" value="Immihelp - Major Holidays and Festivals"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>

</article>
    <h1>United States Holidays</h1>
    <article>
    <p><a href="https://www.infoplease.com/holidays-america">Infoplease: Holidays of America</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.infoplease.com/holidays-america">
        <input type="text" style = "display:none" name="actual_name" value="InfoPlease - Holidays of America"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.immihelp.com/newcomer/major-holidays-festivals-america.html">Immihelp: Major Holidays and Festivals</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.immihelp.com/newcomer/major-holidays-festivals-america.html">
        <input type="text" style = "display:none" name="actual_name" value="ImmiHelp - Major Holidays and Festivals"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
      </article>
    <h1>United States Historical Figures</h1>
    <article>
    <p><a href="https://www.biographyonline.net/people/america/changed-us.html">Biography Online: People who Changed the United States</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.biographyonline.net/people/america/changed-us.html">
        <input type="text" style = "display:none" name="actual_name" value="Biography Online - People who Changed the US"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="http://time.com/4551817/50-women-political-history/">Time: 50 Women who Made American Political History</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="http://time.com/4551817/50-women-political-history/">
        <input type="text" style = "display:none" name="actual_name" value="Time - Women Who Made American Political History"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.msn.com/en-us/lifestyle/smart-living/20-important-leaders-to-know-for-black-history-month/ss-BBIzYY3#image=8">MSN: Important Black Leaders in US History</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.msn.com/en-us/lifestyle/smart-living/20-important-leaders-to-know-for-black-history-month/ss-BBIzYY3#image=8">
        <input type="text" style = "display:none" name="actual_name" value="MSN - Black Leaders in US History"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.imdb.com/list/ls062511576/">Pop Culture Icons of the 20th Century</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.imdb.com/list/ls062511576/">
        <input type="text" style = "display:none" name="actual_name" value="Pop Culture Icons of 20th Century"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
      </article>
{% endblock %}
