<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"  type="text/css" href="/GEO-stylesheets/homePage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/scripts.js"></script>

    <title>GeoHelper</title>
    <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
    .w3-sidebar {
      z-index: 3;
      width: 250px;
      top: 43px;
      bottom: 0;
      height: inherit;
      margin-top: 60px;
      background-color: #3D511A
    }
    .header {
      background-color: #E09F3E;
      padding: 20px;
      text-align: center;
      padding: 20px
    }

    .w3-top
    { margin-top: 50px; }

    @media screen and (max-width: 400px) {
        .topnav a {
            float: none;
            width: 100%;
        }
      }
      .dynamic-content {
    display:none;
}

    </style>
  </head>
  <body>
  <div class="Header" align = "center" >
    <h1 align = "center">GEO Helper</h1>
  </div>
  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
      <a class="w3-bar-item w3-button w3-theme-l1" href="/Education">Education</a>
      <a class="w3-bar-item w3-button w3-theme-l1" href="/Immigration">Immigration Information</a>
      <a class="w3-bar-item w3-button w3-theme-l1" href="/USLife">Living in the US</a>
      <a class="w3-bar-item w3-button w3-theme-l1" href="/USCulture">US Culture</a>
      <a class="w3-bar-item w3-button w3-theme-l1" href="/Forum">Advice Forum</a>
      <a class="w3-bar-item w3-button w3-theme-l1" href="/LogOut">Logout</a>
    </div>
  </div>

  <!-- Sidebar -->
  <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
      <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Menu</b></h4>
      <div id="Resources"><a class="w3-bar-item" href="javascript:showResources();">My Saved Resources</a>
      <div id="Questions"><a class="w3-bar-item" href="javascript:showQuestions();">My Questions</a>
      <div id="Responses"><a class="w3-bar-item" href="javascript:showResponses();">My Responses</a></div>
  </nav>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
  <div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
          <div id="dash"><h1 class="w3-text-teal">My Dashboard</h1>
          <p>Hello, {{user}}! Welcome to your dashboard! Select what you would like to see from the menu on the side!</p></div>
          <div id="resour" style="display: none;">
            <h1 class="w3-text-teal">My Resources</h1>
            {%for item in intento%}
	          <p>
	             <a href="{{item.button_save}}">
			             {{item.actual_name}}
			         </a>
	             <form class=""  action="/Delete" method="post">
	                <input type="text"  name="key" style="display:none" value="{{item.key.urlsafe()}}">
	                <input type="Submit" value="Delete" >
	             </form>
			       </p>
	           {%endfor%}
          </div>
          <div id=quest style="display: none;"><h1 class="w3-text-teal">My Questions</h1></div>
          <div id=resp style="display: none;"><h1 class="w3-text-teal">My Responses</h1></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="NewContent" style="display: none;">This is one div that we can toggle.</div>
  <div id="OldContent" style="display: block;">This is some other div that we can toggle.</div>-->
  <script>
  function toggleContent() {
    toggle("resp");
    toggle("dash");
    toggle("resour");
    toggle("quest");
  }
  function showResources() {
    hide("resp");
    hide("dash");
    show("resour");
    hide("quest");
  }
  function showQuestions() {
    hide("resp");
    hide("dash");
    hide("resour");
    show("quest");
  }
  function showResponses() {
    show("resp");
    hide("dash");
    hide("resour");
    hide("quest");
  }
  function w3_open() {
      if (mySidebar.style.display === 'block') {
          mySidebar.style.display = 'none';
          overlayBg.style.display = "none";
      } else {
          mySidebar.style.display = 'block';
          overlayBg.style.display = "block";
      }
  }
  function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
  }

  function changeDash() {
    toggle("Resources");
  }
  </script>
  </body>
    <!-- <header class="masthead mb-auto">
       <div class="inner"> -->
         <!-- <h3 class="masthead-brand"> readSmart</h3> -->
         <!-- <img  class="masthead-brand" src="/img/logo.png" alt="Logo"> -->
         <!-- {% if active %}
         <a href="/"> <img class= "masthead-brand" style = "width: 220px; height: 60px;" src="/img/logo.png" alt="Logo"> </a>
         <nav class="nav nav-masthead justify-content-center">
           <a class="nav-link active" style = "font-size: 24px;" href="#">Home</a>
           <a class="nav-link" style = "font-size: 24px;" href="/booklist">Books</a>
           <a class="nav-link" style = "font-size: 24px;" href = "/library">Library</a>
           <a class="nav-link" style = "font-size: 24px;" href = "/logout">Logout</a>
           {% endif %}
         </nav>
       </div>
     </header> -->

    <!-- <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome to <span id="title">readSmart</span></h1>
        <p class="lead">Welcome to our application, where you can figure out how long something you're planning to do might take, and you can organize your schedule to become more productive</p>
        <p class="lead">
          <a href="/login" style="background-color:red;color:white;" class="btn btn-lg btn-secondary">Sign Up</a>
          <h6><a href="/signIn">I have an account</a></h6>
        </p>
      </main>
  </body> -->

  <!-- <footer>
    <script type="text/javascript">
      document.getElementById("EducationButton").onclick = function(){
        location.href = "/Education"
      };
      document.getElementById("ImmiButton").onclick = function(){
        location.href = "/Immigration"
      };
      document.getElementById("USLifeButton").onclick = function(){
        location.href = "/USLife"
      };
      document.getElementById("USCultureButton").onclick = function(){
        location.href = "/USCulture"
      };
      document.getElementById("Forum").onclick = function (){
        location.href = "/Forum"
      }
    </script>
  </footer> -->
</html>
