<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"  type="text/css" href="/GEO-stylesheets/homePage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>GEO Rocks!</title>
  </head>
  <body>
    <h1 align = "center">GEO Industries On The Making...</h1>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownEducationMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Education
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownEducationMenuButton">
          <a class="dropdown-item" id = "DayCare/Pre-School" href="#">DayCare/Pre-School</a>
          <a class="dropdown-item" id = "Secondary School" href="#">Secondary School</a>
          <a class="dropdown-item" id = "College/University" href="#">College/University</a>
          <a class="dropdown-item" id = "International and Boarding Schools" href="#">International and Boarding Schools</a>
          <a class="dropdown-item" id = "Learning Resources" href="#">Learning Resources</a>
        </div>
      </div>
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownImmigrationMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Immigration Information
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownImmigrationMenuButton">
            <a class="dropdown-item" id = "Legal Resources" href="#">Legal Resources</a>
            <a class="dropdown-item" id = "Citizenship Information" href="#">Citizenship Information</a>
            <a class="dropdown-item" id = "State Information" href="#">State Information</a>
          </div>
      </div>
      <div class="dropdown">
        <! <div class="dropdown"> -->
        <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownUSLifeMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Living in the US
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownUSLifeMenuButton">
          <a class="dropdown-item" id = "Employment" href="#">Employment</a>
          <a class="dropdown-item" id = "Insurance" href="#">Insurance</a>
          <a class="dropdown-item" id = "Bank Information" href="#">Bank Information</a>
          <a class="dropdown-item" id = "Housing" href="#">Housing</a>
          <a class="dropdown-item" id = "Healthcare Resources" href="#">Healthcare Sources</a>
        </div>
      </div>
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownUSCUlture" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            US Culture
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownUSCUltureMenuButton">
            <a class="dropdown-item" id = "Holidays" href="#">Holidays</a>
            <a class="dropdown-item" id = "Political Information" href="#">Political Information</a>
            <a class="dropdown-item" id = "Sports" href="#">Sports</a>
            <a class="dropdown-item" id = "Etiquette" href="#">Etiquette</a>
          </div>
      </div>
      </div> -->
    <!-- </div> -->
    <!-- <script src="scripts/geo.js" type="text/javascript"></script> -->
  <!-- </body>
</html> -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"  type="text/css" href="/GEO-stylesheets/homePage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    <title>ImmiHelper</title>

  </head>

  <body>

    <h1 align = "center">GEOHelper</h1>
      <!-- <div class="dropdown"> -->
        <button class="firstbutton" type="button" id="EducationButton">
          Education
        </button>
        <!-- <div class="dropdown-menu" aria-labelledby="dropdownEducationMenuButton">
          <a class="dropdown-item" href="#">DayCare/Pre-School</a>
          <a class="dropdown-item" href="#">Secondary School</a>
          <a class="dropdown-item" href="#">College/University</a>
          <a class="dropdown-item" href="#">International School/Boarding Schools</a>
          <a class="dropdown-item" href="#">Learning Resources</a>
        </div> -->
      <!-- </div> -->
      <!-- <div class="dropdown"> -->
          <button class="firstbutton" type="button" id="ImmiButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Immigration Information
          </button>
          <!-- <div class="dropdown-menu" aria-labelledby="dropdownImmigrationMenuButton">
            <a class="dropdown-item" href="#">Legal Resources</a>
            <a class="dropdown-item" href="#">Citizenship Information</a>
            <a class="dropdown-item" href="#">State Information</a>
          </div> -->
      <!-- </div> -->
      <!-- <div class="dropdown"> -->
        <!-- <div class="dropdown"> -->
        <button class="firstbutton" type="button" id="USLifeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Living in the US
        </button>
        <!-- <div class="dropdown-menu" aria-labelledby="dropdownUSLifeMenuButton">
          <a class="dropdown-item" href="#">Employment</a>
          <a class="dropdown-item" href="#">Insurance</a>
          <a class="dropdown-item" href="#">Bank Information</a>
          <a class="dropdown-item" href="#">Housing</a>
      </div> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- <h3 align = "center">TO BE DETERMIED</h3> -->
        <button class="firstbutton" type="button" id="USCultureButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            US Culture
        </button>


    <h1 align = "center"> DASHBOARD HERE</h1>
  </body>
  <footer>
    <script type="text/javascript">
      document.getElementById("EducationButton").onclick = function(){
        location.href = "/Education"
      };
      document.getElementById("ImmiButton").onclick = function(){
        location.href = "/Immigration"
      };
      document.getElementById("USLifeButton").onclick = function(){
        location.href = "/USLife"
      };
      document.getElementById("USCultureButton").onclick = function(){
        location.href = "/USCulture"
      };
    </script>
  </footer>
</html>
