{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
    <center>
    <h1>Housing resources</h1>
    <p><a href="https://www.interexchange.org/travel-abroad/work-travel-usa/resources/housing/">Interexchange</a> - How to Find and Rent Housing</p>
    <p><a href="https://www.usa.gov/finding-home">USA.gov</a> - Find Affordable Rental Housing</p>
    <p><a href="https://www.houselogic.com/buy/first-time-home-buyer/how-to-buy-home-usa/">Houselogic</a> - 7 Tips for Buying your First Home in the US</p>
    <p><a href="https://www.nerdwallet.com/article/tips-for-first-time-home-buyers">Nerdwallet</a> - Tips for First-time Home Buyers</p>
    <p><a href="https://www.discover.com/home-loans/articles/10-steps-to-buying-a-home">Discover</a> - 10 Steps to Buying a Home</p>
    <p><a href="https://www.bankrate.com/finance/mortgages/6-must-dos-before-buying-a-home-1.aspx">Bankrate</a> - 6 Must-Dos Before Buying a Home</p>
    <h2>Search for Housing</h2>
    <p><a href="https://www.trulia.com/">Trulia</a> - online residential real estate site for home buyers, sellers, renters and real estate professionals in the United States.</p>
    <p><a href="https://www.zillow.com/">Zillow</a> - The leading real estate marketplace. Search millions of for-sale and rental listings, compare Zestimate® home values and connect with local professionals.</p>
    <p><a href="https://www.realtor.com/">Realtor</a> - the trusted resource for home buyers, sellers and dreamers, offering the most comprehensive database of for-sale properties</p>
    <p><a href="https://www.homesnap.com/">Homesnap</a> - Accurate, real-time MLS data and enhanced property features make it easy to search for and share homes with friends, clients and colleagues.</p>
    <p><a href="https://www.redfin.com/">Redfin</a> - Redfin is a full-service real estate brokerage that uses modern technology to help people buy and sell homes.</p>
    {% endblock %}
