{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
    <center>
      <style>
      div {
        background-color: lightgrey;
        width: 980px;
        border: 10px solid black;
        padding: 15px;
        margin: 80px;
        margin-left: 200;
        margin-bottom: 200;
    }
    </style>
    <h1>Housing resources</h1>
    <Article>
    <p><a href="https://www.interexchange.org/travel-abroad/work-travel-usa/resources/housing/">Interexchange: How to Find and Rent Housing</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.interexchange.org/travel-abroad/work-travel-usa/resources/housing/">
        <input type="text" style = "display:none" name="actual_name" value="Interchange - Find Rent and Housing"></input>
        <input type="submit" name="button" value="Save"></input>
        </form>
    </p>
    <p><a href="https://www.usa.gov/finding-home">USA.gov: Find Affordable Rental Housing</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.usa.gov/finding-home">
        <input type="text" style = "display:none" name="actual_name" value="USAGov - Affordable Housing"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.houselogic.com/buy/first-time-home-buyer/how-to-buy-home-usa/">Houselogic: 7 Tips for Buying your First Home in the US</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.houselogic.com/buy/first-time-home-buyer/how-to-buy-home-usa/">
        <input type="text" style = "display:none" name="actual_name" value="HouseLogic - Tips for Buying First Home"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.nerdwallet.com/article/tips-for-first-time-home-buyers">Tips for First-time Home Buyers</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.nerdwallet.com/article/tips-for-first-time-home-buyers">
        <input type="text" style = "display:none" name="actual_name" value="NerdWallet - Tips for First-Time Home Buyers"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.discover.com/home-loans/articles/10-steps-to-buying-a-home">Discover: 10 Steps to Buying a Home</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.discover.com/home-loans/articles/10-steps-to-buying-a-home">
        <input type="text" style = "display:none" name="actual_name" value="Discover - Steps Buying A Home"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.bankrate.com/finance/mortgages/6-must-dos-before-buying-a-home-1.aspx">Bankrate: 6 Must-Dos Before Buying a Home</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.bankrate.com/finance/mortgages/6-must-dos-before-buying-a-home-1.aspx">
        <input type="text" style = "display:none" name="actual_name" value="BanRate - Must-Dos Before Buying a Home"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
      </article>
    <h2>Search for Housing</h2>
    <article>
    <p><a href="https://www.trulia.com/">Trulia</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.trulia.com/">
        <input type="text" style = "display:none" name="actual_name" value="Trulia"></input>
        <input type="submit" name="button" value="Save"></input>
        </form>
    </p>
    <p><a href="https://www.zillow.com/">Zillow</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.zillow.com/">
        <input type="text" style = "display:none" name="actual_name" value="Zillow"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.realtor.com/">Realtor</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.realtor.com/">
        <input type="text" style = "display:none" name="actual_name" value="Realtor"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.homesnap.com/">Homesnap</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.homesnap.com/">
        <input type="text" style = "display:none" name="actual_name" value="HomeSnap"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.redfin.com/">Redfin</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.redfin.com/">
        <input type="text" style = "display:none" name="actual_name" value="RedFin"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
</article>
    <p><a href="https://www.interexchange.org/travel-abroad/work-travel-usa/resources/housing/">Interexchange</a> - How to Find and Rent Housing</p>
    <p><a href="https://www.usa.gov/finding-home">USA.gov</a> - Find Affordable Rental Housing</p>
    <p><a href="https://www.houselogic.com/buy/first-time-home-buyer/how-to-buy-home-usa/">Houselogic</a> - 7 Tips for Buying your First Home in the US</p>
    <p><a href="https://www.nerdwallet.com/article/tips-for-first-time-home-buyers">Nerdwallet</a> - Tips for First-time Home Buyers</p>
    <p><a href="https://www.discover.com/home-loans/articles/10-steps-to-buying-a-home">Discover</a> - 10 Steps to Buying a Home</p>
    <p><a href="https://www.bankrate.com/finance/mortgages/6-must-dos-before-buying-a-home-1.aspx">Bankrate</a> - 6 Must-Dos Before Buying a Home</p>
    <h2>Search for Housing</h2>
    <p><a href="https://www.trulia.com/">Trulia</a> - online residential real estate site for home buyers, sellers, renters and real estate professionals in the United States.</p>
    <p><a href="https://www.zillow.com/">Zillow</a> - The leading real estate marketplace. Search millions of for-sale and rental listings, compare Zestimate® home values and connect with local professionals.</p>
    <p><a href="https://www.realtor.com/">Realtor</a> - the trusted resource for home buyers, sellers and dreamers, offering the most comprehensive database of for-sale properties</p>
    <p><a href="https://www.homesnap.com/">Homesnap</a> - Accurate, real-time MLS data and enhanced property features make it easy to search for and share homes with friends, clients and colleagues.</p>
    <p><a href="https://www.redfin.com/">Redfin</a> - Redfin is a full-service real estate brokerage that uses modern technology to help people buy and sell homes.</p>
    {% endblock %}
