{% extends "Templates/template.html" %}
{% block title %}Immigration{% endblock %}
{% block navbar %}
  <button class=Immigbutton type="button" id="Legal">Legal Resources</button>
  <button class=Immigbutton type="button" id="Citizenship">Citizenship Information</button>
  <button class=Immigbutton type="button" id="Visa">Visa Information</button>
  <button class=Immigbutton type="button" id="StateInfo">State Specific Information</button>
{% endblock %}
  {% block content %}
    <h1 align = "center">Immigration Information</h1>
    <p> As a new arrival to the US, you may need to register for citizenship, get a state ID, get a license, or learn about the legal sepcifics<br>
        concerning your situation in the US. This page provides a lot of the information that ypu may need to get the legal documentation or <br>
        registration that can allow you to apply for jobs and take advantage of some of the resources in the US. </p>

    <footer>
      <script type="text/javascript">
            document.getElementById("Legal").onclick = function(){
              location.href = "/LegalResources"
            };
            document.getElementById("Citizenship").onclick = function(){
              location.href = "/CitizenshipInfo"
            };
            document.getElementById("Visa").onclick = function(){
              location.href = "/VisaInfo"
            };
            document.getElementById("StateInfo").onclick = function(){
              location.href = "/StateInfo"
            };
      </script>
    </footer>
  {% endblock %}
