<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Insurance</title>
  </head>
  <body>
    <h1>Insurance Information</h1>
    <p> Insurance is another element of life in the US that is important to consider. From health insurance to car insurance to life
        insurance, it is important to understand what insurance is so that you can invest in it and use it effectively.</p><br>
    <h2>Insurance Resources</h2>
    <h3>What is insurance?<h3>
    <p>https://www.moneyadviceservice.org.uk/en/articles/what-is-insurance</p>
    <h4>What are the types of insurance?</h4>
    <p>https://cashmoneylife.com/types-of-insurance-you-need/</p>
    <h5>Finding the right insurance</h5>
    <p>http://www.insurancecompanies.com/finding-the-right-insurance-company-for-you/</p>
  </body>
</html>
