{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
    <center>
      <style>
      div {
        background-color: lightgrey;
        width: 980px;
        border: 10px solid black;
        padding: 15px;
        margin: 80px;
        margin-left: 200;
        margin-bottom: 200;
    }
    </style>

    <h1>Insurance Information</h1>
    <p> Insurance is another element of life in the US that is important to consider. From health insurance to car insurance to life
        insurance, it is important to understand what insurance is so that you can invest in it and use it effectively.</p><br>
    <h2>Insurance Resources</h2>
<br>
    <h3>What is insurance?</h3>
    <p><a href="https://www.moneyadviceservice.org.uk/en/articles/what-is-insurance">Money Advice</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.moneyadviceservice.org.uk/en/articles/what-is-insurance">
        <input type="text" style = "display:none" name="actual_name" value="Money Advice"></input>
        <input type="submit" name="button" value="Save"></input>
        </form>
    </p>

    <h4>What are the types of insurance?</h4>
    <p><a href="https://cashmoneylife.com/types-of-insurance-you-need/">Cash Money Life</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://cashmoneylife.com/types-of-insurance-you-need/">
        <input type="text" style = "display:none" name="actual_name" value="Cash Money Life"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <h5>Finding the right insurance</h5>
    <p><a href="http://www.insurancecompanies.com/finding-the-right-insurance-company-for-you/">Insurance Companies</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="http://www.insurancecompanies.com/finding-the-right-insurance-company-for-you">
        <input type="text" style = "display:none" name="actual_name" value="Insurance Companies"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>

{% endblock%}
