{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
    <style>
    div {
      background-color: lightgrey;
      width: 980px;
      border: 10px solid black;
      padding: 15px;
      margin: 80px;
      margin-left: 200;
      margin-bottom: 200;
  }
  </style>
  <h1>International Schools & Boarding Schools</h1><article>
  <p><a href="https://cogitoworldeducation.org/boarding-schools/">Cogito World Education - offers a range of services within the field of international education. From USA high school placement on F-1 visa programs to partial scholarships and more.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://cogitoworldeducation.org/boarding-schools/">
      <input type="text" style = "display:none" name="actual_name" value="Cogito World Education - offers a range of services within the field of international education. From USA high school placement on F-1 visa programs to partial scholarships and more."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.boardingschoolreview.com/blog/international-students-guide-to-boarding-schools">Boarding School Review - International Students' Guide to Boarding Schools</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.boardingschoolreview.com/blog/international-students-guide-to-boarding-schools">
      <input type="text" style = "display:none" name="actual_name" value="Boarding School Review - International Students' Guide to Boarding Schools"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://thebestschools.org/features/best-boarding-schools-in-us/">The Best Schools - Best Boarding Schools in the US</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://thebestschools.org/features/best-boarding-schools-in-us/">
      <input type="text" style = "display:none" name="actual_name" value="The Best Schools - Boarding Schools in the US"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>

  <p><a href="https://www.schoolsboardingusa.com/">American Boarding Schools International USA - ABSI is an International Student Admissions Center for a number of quality boarding schools in the United States of America. </a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.schoolsboardingusa.com/">
      <input type="text" style = "display:none" name="actual_name" value="American Boarding Schools International USA - ABSI is an International Student Admissions Center for a number of quality boarding schools in the United States of America. "></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</article>
</p>
{% endblock %}
