{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
  <h1>International Schools & Boarding Schools</h1>
  <p><a href="https://cogitoworldeducation.org/boarding-schools/">Boarding Schools</a>
    <button type="button" name="button">Save</button>
  </p>
  <p><a href="https://www.boardingschoolreview.com/blog/international-students-guide-to-boarding-schools">International Students' Guide to Boarding Schools</a>
    <button type="button" name="button">Save</button>
  </p>
  <p><a href="https://thebestschools.org/features/best-boarding-schools-in-us/">Best Boarding Schools in the US</a>
    <button type="button" name="button">Save</button>

  </p>

  <p><a href="https://www.schoolsboardingusa.com/">SchoolsBoarding</a>
    <button type="button" name="button">Save</button>
</p>
{% endblock %}
