<html>
<body>
  <center>
  <h1>Learning Resources</h1>
  <h2>Language Learning</h2>
  <p><a href="https://www.duolingo.com/ ">Duolingo</a></p>
  <p><a href="https://www.busuu.com/en/p/start-learning?b_source=adwords&b_campaign=US_EN_Web_Brand_E&b_group=US_EN_Web_Brand_E&b_subnetwork=sn&b_term=busuu+language+learning&utm_nooverride=1&gclid=CjwKCAjw-dXaBRAEEiwAbwCi5t5TWmQHmh1zii8EurE1moaK3PLFurKKZPCm_PU7y5-g7H_WFTP4XxoCUdgQAvD_BwE&gclsrc=aw.ds">Busuu</a></p>
  <p><a href="https://bilingua.io/livemocha-language-exchange">Bilingua/LivaMocha</a></p>
  <p><a href="https://www.memrise.com">Memrise</a></p>
  <p><a href="http://www.bbc.co.uk/languages/">BBC Language</a></p>
  <p><a href="https://fsi-languages.yojik.eu/">Foreign Services Institute</a></p>
  <p><a href="https://share.america.gov/theme/theme-education/theme-english-learning/">Share America</a></p>
  <h2>Other Edu</h2>
  <p><a href="https://www.khanacademy.org/">khanacademy</a></p>
</body>
</html>
