{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
  <h1>Learning Resources</h1>
  <h2>Language Learning</h2>
  <p><a href="https://www.duolingo.com/ ">Duolingo - a freemium language-learning platform that includes a language-learning website and app, as well as a digital language proficiency assessment exam.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.duolingo.com/">
      <input type="text" style = "display:none" name="actual_name" value="Duolingo - a freemium language-learning platform that includes a language-learning website and app, as well as a digital language proficiency assessment exam."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.busuu.com/en/p/start-learning?b_source=adwords&b_campaign=US_EN_Web_Brand_E&b_group=US_EN_Web_Brand_E&b_subnetwork=sn&b_term=busuu+language+learning&utm_nooverride=1&gclid=CjwKCAjw-dXaBRAEEiwAbwCi5t5TWmQHmh1zii8EurE1moaK3PLFurKKZPCm_PU7y5-g7H_WFTP4XxoCUdgQAvD_BwE&gclsrc=aw.ds">Busuu - a social learning app for languages. It is available on web and via iOS and Android. Courses are available in twelve languages: English, Spanish, French, German, Italian, Portuguese, Russian, Polish, Turkish, Arabic, Japanese and Chinese. </a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.busuu.com/en/p/start-learning?b_source=adwords&b_campaign=US_EN_Web_Brand_E&b_group=US_EN_Web_Brand_E&b_subnetwork=sn&b_term=busuu+language+learning&utm_nooverride=1&gclid=CjwKCAjw-dXaBRAEEiwAbwCi5t5TWmQHmh1zii8EurE1moaK3PLFurKKZPCm_PU7y5-g7H_WFTP4XxoCUdgQAvD_BwE&gclsrc=aw.ds">
      <input type="text" style = "display:none" name="actual_name" value="Busuu - a social learning app for languages. It is available on web and via iOS and Android. Courses are available in twelve languages: English, Spanish, French, German, Italian, Portuguese, Russian, Polish, Turkish, Arabic, Japanese and Chinese. "></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://bilingua.io/livemocha-language-exchange">Bilingua/LivaMocha - Language exchange app for foreign language conversation practice. Chat, play and learn with native speakers. Find the best conversation exchange partners!</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://bilingua.io/livemocha-language-exchange">
      <input type="text" style = "display:none" name="actual_name" value="Bilingua/LivaMocha - Language exchange app for foreign language conversation practice. Chat, play and learn with native speakers. Find the best conversation exchange partners!"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://www.memrise.com">Memrise - a user-generated learning platform which uses flashcards as memory aids. It specialises in language learning, but also offers content on a wide range of other subjects.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.memrise.com">
      <input type="text" style = "display:none" name="actual_name" value="Memrise - a user-generated learning platform which uses flashcards as memory aids. It specialises in language learning, but also offers content on a wide range of other subjects."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="http://www.bbc.co.uk/languages/">BBC Language - Free online language learning: courses, audio, video and games, including the alphabet, phrases, vocabulary, pronunciation, grammar, activities and tests.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.bbc.co.uk/languages/">
      <input type="text" style = "display:none" name="actual_name" value="BBC Language - Free online language learning: courses, audio, video and games, including the alphabet, phrases, vocabulary, pronunciation, grammar, activities and tests."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://share.america.gov/theme/theme-education/theme-english-learning/">Share America - The ShareAmerica team is part of the Bureau of International Information Programs, which works with U.S. embassies and consulates in more than 140 countries to engage with people around the globe on U.S. foreign policy and American society.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://share.america.gov/theme/theme-education/theme-english-learning/">
      <input type="text" style = "display:none" name="actual_name" value="Share America - The ShareAmerica team is part of the Bureau of International Information Programs, which works with U.S. embassies and consulates in more than 140 countries to engage with people around the globe on U.S. foreign policy and American society."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
    <h2>Learn by Subject</h2>
  <p><a href="https://www.khanacademy.org/">Khanacademy - a non-profit educational organization created in 2006 by educator Salman Khan with a goal of creating a set of online tools that help educate students. The organization produces short lessons in the form of YouTube videos.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.khanacademy.org/">
      <input type="text" style = "display:none" name="actual_name" value="Khanacademy - a non-profit educational organization created in 2006 by educator Salman Khan with a goal of creating a set of online tools that help educate students. The organization produces short lessons in the form of YouTube videos."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>

{% endblock %}
