{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
  <h1>Learning Resources</h1>
  <h2>Language Learning</h2>
  <p><a href="https://www.duolingo.com/ ">Duolingo</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.duolingo.com/">
      <input type="text" style = "display:none" name="actual_name" value="Duolingo"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://www.busuu.com/en/p/start-learning?b_source=adwords&b_campaign=US_EN_Web_Brand_E&b_group=US_EN_Web_Brand_E&b_subnetwork=sn&b_term=busuu+language+learning&utm_nooverride=1&gclid=CjwKCAjw-dXaBRAEEiwAbwCi5t5TWmQHmh1zii8EurE1moaK3PLFurKKZPCm_PU7y5-g7H_WFTP4XxoCUdgQAvD_BwE&gclsrc=aw.ds">Busuu</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.busuu.com/en/p/start-learning?b_source=adwords&b_campaign=US_EN_Web_Brand_E&b_group=US_EN_Web_Brand_E&b_subnetwork=sn&b_term=busuu+language+learning&utm_nooverride=1&gclid=CjwKCAjw-dXaBRAEEiwAbwCi5t5TWmQHmh1zii8EurE1moaK3PLFurKKZPCm_PU7y5-g7H_WFTP4XxoCUdgQAvD_BwE&gclsrc=aw.ds">
      <input type="text" style = "display:none" name="actual_name" value="Busuu"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://bilingua.io/livemocha-language-exchange">Bilingual/LivaMocha</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://bilingua.io/livemocha-language-exchange">
      <input type="text" style = "display:none" name="actual_name" value="Bilingual/LivaMocha"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://www.memrise.com">Memrise</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.memrise.com">
      <input type="text" style = "display:none" name="actual_name" value="Memrise"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="http://www.bbc.co.uk/languages/">BBC Language</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.bbc.co.uk/languages/">
      <input type="text" style = "display:none" name="actual_name" value="BBC Language"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://fsi-languages.yojik.eu/">Foreign Services Institute</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://fsi-languages.yojik.eu/">
      <input type="text" style = "display:none" name="actual_name" value="Foreign Services Institute"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://share.america.gov/theme/theme-education/theme-english-learning/">Share America</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://share.america.gov/theme/theme-education/theme-english-learning/">
      <input type="text" style = "display:none" name="actual_name" value="Share America"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
    <h2>Learn by Subject</h2>
  <p><a href="https://www.khanacademy.org/">khanacademy</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.khanacademy.org/">
      <input type="text" style = "display:none" name="actual_name" value="Khanacademy"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>

{% endblock %}
