<html>
<body>
  <center>
  <h1>Legal Information</h1>
  <h3>Immigrant Q & A Hotline</h3>
  <p>Call our free immigrant question and answer hotline to receive legal information and referrals to low cost community resources.
  <br>SPANISH/ENGLISH: Tel. (408) 453-3017
  <br>VIETNAMESE/ENGLISH: Tel. (408) 453-3013</p>
  <p><a href="https://my.uscis.gov/findaclass">Find a US Citizenship Preparation Class</a></p>
  <p><a href="https://www.usalearns.org/">Find an English/US Citizenship Preparation Class</a></p>
  <p><a href="https://www.immigrantjustice.org/know-your-rights">Immigrant Justice:Know Your Rights</a></p>
  <p><a href="http://www.alllaw.com/topics/us-immigration">Immigration Law</a></p>
  <p><a href="https://resources.lawinfo.com/">Common Legal Issues</a></p>
  <p><a href="https://www.immi.org/Info/FindLegalHelp">Immi: Search for Legal Help</a></p>
  <p><a href="https://www.ilrc.org/know-your-rights-and-what-immigrant-families-should-do-now">Immigrant Legal Resource Center</a></p>
  <p><a href="https://www.americanimmigrationcouncil.org/research/how-united-states-immigration-system-works">How the United States Immigration System Works</a></p>
  <p><a href="https://public.findlaw.com/">FindLaw: Learn about the Law</a></p>
  <p><a href="https://www.aclu.org/ ">ACLU: American Civil Liberties Union</a></p>
</body>
</html>

<!--
