{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
  <h1>Legal Information</h1>
  <h3>Immigrant Q & A Hotline</h3>
  <p>Call our free immigrant question and answer hotline to receive legal information and referrals to low cost community resources.
  <br>SPANISH/ENGLISH: Tel. (408) 453-3017
  <br>VIETNAMESE/ENGLISH: Tel. (408) 453-3013</p>
  <p><a href="https://my.uscis.gov/findaclass">USCIS - Find a US Citizenship Preparation Class</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://my.uscis.gov/findaclass">
      <input type="text" style = "display:none" name="actual_name" value="USCIS - Citizenship Preparation Class"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://www.usalearns.org/">USA Learns - English and Citizenship Preparation Class, Beginner and Intermediate level</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usalearns.org/">
      <input type="text" style = "display:none" name="actual_name" value="USA Learns - English and Citizenship Preparation Class, Beginner and Intermediate level."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://www.immigrantjustice.org/know-your-rights">National Immigrant Justice Center: Know Your Rights</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.immigrantjustice.org/know-your-rights">
      <input type="text" style = "display:none" name="actual_name" value="National Immigrant Justice Center: Know Your Rights"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="http://www.alllaw.com/topics/us-immigration">AllLaw - Legal information on green cards (permanent residency), visas, U.S. citizenship, deportation/removal, and more.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.alllaw.com/topics/us-immigration">
      <input type="text" style = "display:none" name="actual_name" value="AllLaw - Legal information on green cards (permanent residency), visas, U.S. citizenship, deportation/removal, and more."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://resources.lawinfo.com/">LawInfo: Common Legal Issues</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://resources.lawinfo.com/">
      <input type="text" style = "display:none" name="actual_name" value="LawInfo: Common Legal Issues"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://www.immi.org/Info/FindLegalHelp">Immi: Search for Legal Help</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.immi.org/Info/FindLegalHelp">
      <input type="text" style = "display:none" name="actual_name" value="Immi: Legal Help"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://www.ilrc.org/know-your-rights-and-what-immigrant-families-should-do-now">Immigrant Legal Resource Center - provides practical tips for things immigrant families can do now to prepare as well as information on rights everyone has in the United States, regardless of immigration status.</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.ilrc.org/know-your-rights-and-what-immigrant-families-should-do-now">
      <input type="text" style = "display:none" name="actual_name" value="Immigrant Legal Resource Center - provides practical tips for things immigrant families can do now to prepare as well as information on rights everyone has in the United States, regardless of immigration status."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://www.americanimmigrationcouncil.org/research/how-united-states-immigration-system-works">How the United States Immigration System Works</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.americanimmigrationcouncil.org/research/how-united-states-immigration-system-works">
      <input type="text" style = "display:none" name="actual_name" value="USA Immigration System"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://public.findlaw.com/">FindLaw: Learn about the Law</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://public.findlaw.com/">
      <input type="text" style = "display:none" name="actual_name" value="USA"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://www.aclu.org/ ">ACLU: American Civil Liberties Union</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.aclu.org/">
      <input type="text" style = "display:none" name="actual_name" value="American Civil Liberties Union (ACLU)"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
{% endblock %}
<!--
