{% block navbar %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 {% for (id, path, display_name) in navbar_content %}
  <button class="w3-button w3-black" type="button" id="{{id}}">{{display_name}}</button>
 {% endfor %}

 <script type="text/javascript">
 {% for (id, path, display_name) in navbar_content %}
   document.getElementById("{{id}}").onclick = function(){
     location.href = "{{path}}"
   };
 {% endfor %}
 </script>
{% endblock %}
