{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
    <center>
    <h1>Political Climate</h1>

    <p><a href="https://www.bbc.com/news/world-us-canada-16761057">BBC United States Country Profile - Breaking news, sport, TV, radio and a whole lot more. The BBC informs, educates and entertains - wherever you are, whatever your age.</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.bbc.com/news/world-us-canada-16761057">
        <input type="text" style = "display:none" name="actual_name" value="BBC United States Country Profile - Breaking news, sport, TV, radio and a whole lot more. The BBC informs, educates and entertains - wherever you are, whatever your age."></input>
        <input type="submit" name="button" value="Save"></input>
        </form>
    </p>
    <p><a href="https://www.hrw.org/world-report/2018/country-chapters/united-states">Human Rights Watch(HRW) US Country Report</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.hrw.org/world-report/2018/country-chapters/united-states">
        <input type="text" style = "display:none" name="actual_name" value="Human Rights Watch(HRW) US Country Report"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.isidewith.com/polls">I Side With - Common Political Debates</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.isidewith.com/polls">
        <input type="text" style = "display:none" name="actual_name" value="I Side With - Common Political Debates"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>

    <h2>Today's News</h2>
    <p><a href="https://www.politico.com/politics">Politico - Today's News</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.politico.com/politics">
        <input type="text" style = "display:none" name="actual_name" value="Politico - Today's News"></input>
        <input type="submit" name="button" value="Save"></input>
        </form>
    </p>
    <p><a href="https://www.washingtontimes.com/news/national/">Washington Times - National News</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.washingtontimes.com/news/national/">
        <input type="text" style = "display:none" name="actual_name" value="Washington Times - National News"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <h2>Overview of Political Climate in 2018</h2>

    <p><a href="https://www.infoplease.com/world/current-events-world-us-science-and-business-news">Infoplease - United States Current Events</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.infoplease.com/world/current-events-world-us-science-and-business-news">
        <input type="text" style = "display:none" name="actual_name" value="Infoplease - United States Current Events"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="http://theconversation.com/understanding-the-us-political-divide-one-word-cloud-at-a-time-91961">The Conversation: Understanding the US Political Divide</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="http://theconversation.com/understanding-the-us-political-divide-one-word-cloud-at-a-time-91961">
        <input type="text" style = "display:none" name="actual_name" value="The Conversation - Understanding the USA Political Divide"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://theconversation.com/climate-politics-in-2018-another-guide-for-the-perplexed-89970">The Conversation: "Climate Politics in 2018, Another Guide for the Perplexed"</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://theconversation.com/climate-politics-in-2018-another-guide-for-the-perplexed-89970">
        <input type="text" style = "display:none" name="actual_name" value="The Conversation: 'Climate Politics in 2018, Another Guide for the Perplexed'"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="http://apnorc.org/projects/Pages/HTML%20Reports/new-year-same-priorities-the-publics-agenda-for-2018.aspx">Associated Press -  The Public's Agenda for 2018</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="http://apnorc.org/projects/Pages/HTML%20Reports/new-year-same-priorities-the-publics-agenda-for-2018.aspx">
        <input type="text" style = "display:none" name="actual_name" value="Associated Press - 2018 Public's Agenda"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
{% endblock%}

<!--
