{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}

    <h1>Political Climate</h1>
    <p><a href="https://www.bbc.com/news/world-us-canada-16761057">BBC United States Country Profile</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.usa.gov/study-in-us">
        <input type="text" style = "display:none" name="actual_name" value="USA"></input>
        <input type="submit" name="button" value="Save"></input>
        </form>
    </p>
    <p><a href="https://www.hrw.org/world-report/2018/country-chapters/united-states">HRW Country Report</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.hrw.org/world-report/2018/country-chapters/united-states">
        <input type="text" style = "display:none" name="actual_name" value="HRW Country Report"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.isidewith.com/polls">Common Political Debates</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.isidewith.com/polls">
        <input type="text" style = "display:none" name="actual_name" value="Political Debates"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
{% endblock%}

<!--
