{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
  <h1>Secondary School</h1>
  <h2>Public Schools</h2>
  <p><a href="https://www.usa.gov/study-in-us">USA</a></p>
  <p><a href="https://www.usnews.com/education/best-high-schools">USNews.com</a></p>
  <h2>Charter Schools</h2>
  <p><a href="https://www.usnews.com/education/best-high-schools/national-rankings/charter-school-rankings">USNews</a></p>
  <p><a href="http://www.uncommonschools.org/our-approach/faq-what-is-charter-school">Charter Schools FAQ</a></p>
  <h2>Private & Religious Schools</h2>
  <p><a href="https://nces.ed.gov/surveys/pss/privateschoolsearch/">NCES</a></p>
  <p><a href="https://topprivateschools.us/">Top Private Schools</a></p>
  <p><a href="https://www.niche.com/k12/search/best-private-high-schools/">Niche's Best Private Schools</a></p>
  <h2>Resources for High School students</h2>
  <p><a href="https://www.questbridge.org/">Questbridge</a></p>
  <h2>Sports Recruitment</h2>
  <p><a href="http://www.ncaa.org/student-athletes/future/recruiting">NCAA</a></p>

{% endblock %}
