{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
    <style>
    div {
      background-color: lightgrey;
      width: 980px;
      border: 10px solid white;
      padding: 15px;
      margin: 80px;
      margin-left: 200;
      margin-bottom: 200;
  }
  </style>
  <h1>Secondary School</h1>
  <h2>Public Schools</h2>
  <article>
  <p><a href="https://www.usa.gov/study-in-us">USA.gov: How to Study in the United States</a>
    <!-- <button type="button" name="button">Save</button> -->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usa.gov/study-in-us">
      <input type="text" style = "display:none" name="actual_name" value="USA.gov: How to Study in the United States"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>

  <p><a href="https://www.usnews.com/education/best-high-schools">USNews: World report and High School Rankings</a>
    <!-- <button type="button" name="button">Save</button> -->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/education/best-high-schools">
      <input type="text" style = "display:none" name="actual_name" value="USNews: World report and High School Rankings"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
</article>

  <h2>Charter Schools</h2>
  <article>
  <p><a href="https://www.usnews.com/education/best-high-schools/national-rankings/charter-school-rankings">USNews - World report and Charter Schools Rankings</a>
    <!-- <button type="button" name="button">Save</button> -->

    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.usnews.com/education/best-high-schools/national-rankings/charter-school-rankings">
      <input type="text" style = "display:none" name="actual_name" value="USNews - World report and Charter Schools Rankings"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="http://www.uncommonschools.org/our-approach/faq-what-is-charter-school">Uncommon Schools - Charter Schools FAQ</a>
    <!-- <button type="button" name="button">Save</button> -->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.uncommonschools.org/our-approach/faq-what-is-charter-school">
      <input type="text" style = "display:none" name="actual_name" value="Uncommon Schools - Charter Schools FAQ"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
</article>
  <h2>Private & Religious Schools</h2>
  <article>
  <p><a href="https://nces.ed.gov/surveys/pss/privateschoolsearch/">National Center for Educational Statistics - Private School Search</a>
    <!-- <button type="button" name="button">Save</button> -->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://nces.ed.gov/surveys/pss/privateschoolsearch/">
      <input type="text" style = "display:none" name="actual_name" value="National Center for Educational Statistics - Private School Search"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
  </p>
  <p><a href="https://topprivateschools.us/">Top Private Schools - Rankings</a>
    <!-- <button type="button" name="button">Save</button> -->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://topprivateschools.us/">
      <input type="text" style = "display:none" name="actual_name" value="Top Private Schools - Rankings"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <p><a href="https://www.niche.com/k12/search/best-private-high-schools/">Niche - Private Schools Rankings</a>
    <!-- <button type="button" name="button">Save</button> -->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.niche.com/k12/search/best-private-high-schools/">
      <input type="text" style = "display:none" name="actual_name" value="Niche - Private Schools Rankings"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
</article>
  <h2>Resources for High School students</h2>
  <p><a href="https://www.questbridge.org/">Questbridge: Early Admission with a full scholarship! With a second chance of admission through QuestBridge Regular Decision.</a>
    <!-- <button type="button" name="button">Save</button> -->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.questbridge.org/">
      <input type="text" style = "display:none" name="actual_name" value="Questbridge: Early Admission with a full scholarship! With a second chance of admission through QuestBridge Regular Decision."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>
  <h2>Sports Recruitment</h2>
  <p><a href="http://www.ncaa.org/student-athletes/future/recruiting">NCAA (National Collegiate Athletic Association) - a member-led organization dedicated to the well-being and lifelong success of college athletes.</a>
    <!-- <button type="button" name="button">Save</button> -->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.ncaa.org/student-athletes/future/recruiting">
      <input type="text" style = "display:none" name="actual_name" value="NCAA (National Collegiate Athletic Association) - a member-led organization dedicated to the well-being and lifelong success of college athletes."></input>
      <input type="submit" name="button" value="Save"></input>
      </form>

  </p>

{% endblock %}
