{% extends "Templates/template.html" %}
{% block title%} GEO Industries {% endblock %}


    {% block content%}
    <h1>U.S Slang</h1>
    <p><a href="https://www.umass.edu/ipo/sites/default/files/slang.pdf ">UMass: Slang List</a></p>
    <p><a href="https://www.smartling.com/blog/40-american-slang-words-and-phrases-you-need-to-know/">Smartling: 40 American Slang Words and Phrases you Need to Know</a></p>
    <p><a href="https://www.fluentu.com/blog/english/american-english-slang-words-esl/">Fluentu: American/English Slang Words</a></p>
    <p><a href="https://www.babbel.com/en/magazine/21-totally-useful-american-english-words-and-phrases/">Babbel: American Phrases that are Useful to Know</a></p>
    <p><a href="https://www.phrases.org.uk/meanings/american-phrases-and-sayings.html">The Phrase Finder: American Phrases and Sayings</a></p>
    <h2>Quiz Yourself</h2>
    <p><a href="https://www.learnamericanenglishonline.com/American_Slang/American_Slang_Quiz1.html">Zoo: American Slang Quiz</a></p>
    <p><a href="https://matadornetwork.com/life/well-know-american-slang-quiz-2/">Matador Network: How Well Do You Know American Slang Quiz</a></p>
    <p><a href="https://quizlet.com/244111255/american-slang-flash-cards/">Quizlet: American Slang Flashcards + Test</a></p>
        {%endblock%}
