{% extends "Templates/template.html" %}
{% block title%} GEO Industries {% endblock %}


    {% block content%}
    <h1>Slang Works</h1>
    <p><a href="https://www.umass.edu/ipo/sites/default/files/slang.pdf ">UMass Slang</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.umass.edu/ipo/sites/default/files/slang.pdf">
        <input type="text" style = "display:none" name="actual_name" value="UMass Slang"></input>
        <input type="submit" name="button" value="Save"></input>
        </form>
    </p>
    <p><a href="https://www.smartling.com/blog/40-american-slang-words-and-phrases-you-need-to-know/">40 American Slang Words and Phrases you Need to Know</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.smartling.com/blog/40-american-slang-words-and-phrases-you-need-to-know/">
        <input type="text" style = "display:none" name="actual_name" value="Slang Words and Phrases"></input>
        <input type="submit" name="button" value="Save"></input>
        </form>
    </p>
    <p><a href="https://www.fluentu.com/blog/english/american-english-slang-words-esl/">American/English Slang Words</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.fluentu.com/blog/english/american-english-slang-words-esl/">
        <input type="text" style = "display:none" name="actual_name" value="English Slang Words"></input>
        <input type="submit" name="button" value="Save"></input>
        </form>
    </p>
        {%endblock%}
