{% extends "Templates/template.html" %}
{% block title%} GEO Industries {% endblock %}


    {% block content%}
    <h1>Slang Works</h1>
    <p><a href="https://www.umass.edu/ipo/sites/default/files/slang.pdf ">UMass Slang</a></p>
    <p><a href="https://www.smartling.com/blog/40-american-slang-words-and-phrases-you-need-to-know/">40 American Slang Words and Phrases you Need to Know</a></p>
    <p><a href="https://www.fluentu.com/blog/english/american-english-slang-words-esl/">American/English Slang Words</a></p>
        {%endblock%}
