{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}

      <h1>Sports</h1>
    <p><a href="https://www.topendsports.com/world/countries/usa.htm">Topend Sports: Guide to American Sports</a></p>
    <p><a href="https://sport.one/the-top-10-most-popular-sports-in-america/">Top 10 Most popular sports in America</a></p>
    <p><a href="http://americansportsnet.com/">American Sports Network</a></p>
    <p><a href="http://www.usatourist.com/english/culture/sports/sports-main.html">USA Tourist: Popular US Sports</a></p>
    <p><a href="http://www.espn.com/">ESPN</a></p>
    <p><a href="https://www.immihelp.com/newcomer/sporting-america.html">Immihelp:Sports in America</a></p>
    <p><a href="https://www.usatoday.com/sports/">USAToday: Sports</a></p>
    <p><a href="https://www.nytimes.com/section/sports">NYTimes: Sports</a></p>
{%endblock%}
