{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
      <center>
        <style>
        div {
          background-color: lightgrey;
          width: 980px;
          border: 10px solid black;
          padding: 15px;
          margin: 80px;
          margin-left: 200;
          margin-bottom: 200;
      }
      </style>

      <h1>Sports</h1>
      <article>
    <p><a href="https://www.topendsports.com/world/countries/usa.htm">Topend Sports - Guide to American Sports</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.topendsports.com/world/countries/usa.htm">
        <input type="text" style = "display:none" name="actual_name" value="Topend Sports - Guide to American Sports"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://sport.one/the-top-10-most-popular-sports-in-america/">Sport.one - Top 10 Most popular sports in America</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://sport.one/the-top-10-most-popular-sports-in-america/">
        <input type="text" style = "display:none" name="actual_name" value="Sport.one - Top 10 Most popular sports in America"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="http://americansportsnet.com/">American Sports Network - home for sports fans to learn, be inspired and entertained, while celebrating the games, athletes, coaches and community across all platforms.</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="http://americansportsnet.com/">
        <input type="text" style = "display:none" name="actual_name" value="American Sports Network - home for sports fans to learn, be inspired and entertained, while celebrating the games, athletes, coaches and community across all platforms."></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="http://www.usatourist.com/english/culture/sports/sports-main.html">USA Tourist - Popular US Sports</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="http://www.usatourist.com/english/culture/sports/sports-main.html">
        <input type="text" style = "display:none" name="actual_name" value="USA Tourist - Popular US Sports"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="http://www.espn.com/">ESPN - Visit ESPN to get up-to-the-minute sports news coverage, scores, highlights and commentary for NFL, MLB, NBA, College Football, NCAA Basketball and more.</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="http://www.espn.com/">
        <input type="text" style = "display:none" name="actual_name" value="EESPN - Visit ESPN to get up-to-the-minute sports news coverage, scores, highlights and commentary for NFL, MLB, NBA, College Football, NCAA Basketball and more."></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.immihelp.com/newcomer/sporting-america.html">Immihelp - Sports in America</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.immihelp.com/newcomer/sporting-america.html">
        <input type="text" style = "display:none" name="actual_name" value="Immihelp - Sports in America"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.usatoday.com/sports/">USAToday - Sports</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.usatoday.com/sports/">
        <input type="text" style = "display:none" name="actual_name" value="USAToday - Sports"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
    <p><a href="https://www.nytimes.com/section/sports">NYTimes - Sports</a>
      <form class="hidden" action="/Home" method="post">
        <input type="text" name="link" style = "display:none" value="https://www.nytimes.com/section/sports">
        <input type="text" style = "display:none" name="actual_name" value="NYTimes - Sports"></input>
        <input type="submit" name="button" value="Save"></input>
        </form></p>
      </article>
{%endblock%}
