{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
  <h1>State-specific Help</h1>
  <p><a href="http://www.cchpca.org/state-laws-and-reimbursement-policies">Center for Connected Health Policy - State Laws and Reinbursement Policies</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.cchpca.org/state-laws-and-reimbursement-policies">
      <input type="text" style = "display:none" name="actual_name" value="Center for Connected Health Policy - State Laws and Reinbursement Policies"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://www.ghsa.org/state-laws">Governor's Highway Safety Association - State Laws</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.ghsa.org/state-laws">
      <input type="text" style = "display:none" name="actual_name" value="Governor's Highway Safety Association - State Laws"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://www.llsdc.org/state-legislation">Law Librarians' Society of Washington DC - State Legislation</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.llsdc.org/state-legislation">
      <input type="text" style = "display:none" name="actual_name" value="Law Librarians' Society of Washington DC - State Legislation"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://statelaws.findlaw.com/">Findlaw - State Laws</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://statelaws.findlaw.com/">
      <input type="text" style = "display:none" name="actual_name" value="Findlaw - State Laws"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://traffic.findlaw.com/drivers-license-vehicle-info/state-dmv-offices.html">FindLaw - Drivers License Vehicle Information</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://traffic.findlaw.com/drivers-license-vehicle-info/state-dmv-offices.html">
      <input type="text" style = "display:none" name="actual_name" value="Findlaw - Drive License Information"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
{% endblock %}
