{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
  <h1>State-specific Help</h1>
  <p><a href="http://www.cchpca.org/state-laws-and-reimbursement-policies">Center for Connected Health Policy</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="http://www.cchpca.org/state-laws-and-reimbursement-policies">
      <input type="text" style = "display:none" name="actual_name" value="Health Policy"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://www.ghsa.org/state-laws">Governor's Highway Safety Association</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.ghsa.org/state-laws">
      <input type="text" style = "display:none" name="actual_name" value="Highway Safety Association"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://www.llsdc.org/state-legislation">Law Librarians' Society of Washington DC</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://www.llsdc.org/state-legislation">
      <input type="text" style = "display:none" name="actual_name" value="Law Librarians' Society of Washington DC"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://statelaws.findlaw.com/">State Laws</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://statelaws.findlaw.com/">
      <input type="text" style = "display:none" name="actual_name" value="State Laws"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
  <p><a href="https://traffic.findlaw.com/drivers-license-vehicle-info/state-dmv-offices.html">Drivers License Vehicle Information</a>
    <!--<button type="button" name="button">Save</button>-->
    <form class="hidden" action="/Home" method="post">
      <input type="text" name="link" style = "display:none" value="https://traffic.findlaw.com/drivers-license-vehicle-info/state-dmv-offices.html">
      <input type="text" style = "display:none" name="actual_name" value="Drive License Information"></input>
      <input type="submit" name="button" value="Save"></input>
      </form>
</p>
{% endblock %}
