<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/GEO-stylesheets/allPage.css">
    <title> {% block title %} {% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <button class="btn" id = "housyButton"><i class="fa fa-home"></i> Home</button>
    {% include 'Templates/navbar.html' %}
    <div id= "content">{% block content %}

      {% endblock %}
    </div>
    <!-- <script type="text/javascript">
      var slideIndex = 0;
      showSlides();

      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
   </script> -->

  </body>
  <footer>
    <script type="text/javascript">
      document.getElementById("housyButton").onclick = function (){
        location.href = "/Home"
      };
    </script>
  </footer>
</html>
