{% extends "Templates/template.html" %}
{% block title%} Daycare {% endblock %}


    {% block content%}
  <center>
  <h1>Visa Information</h1>
  <p><a href="https://travel.state.gov/content/travel/en/us-visas.html">What is a U.S Visa?</a></p>
  <p><a href="https://visaguide.world/us-visa/how-to-apply-for-us-visa/">How to Apply for a U.S Visa</a></p>
  <p><a href="https://www.immihelp.com/us-visa/application-procedure.html">US Visa Process</a></p>
  <p><a href="https://uk.usembassy.gov/visas/visa-directory/">US Visa Types</a></p>
  <p><a href="https://jp.usembassy.gov/visas/nonimmigrant-visas/ds160/">Complete the US Visa Form DS-160</a></p>
  <p><a href="https://visaguide.world/us-visa/">Informative Guide on Visas</a></p>
{% endblock %}
